<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
       <!-- where to send the tweets after parsing -->
      <add key="CouchServer" value="http://chch:earthquake@chchneeds.org.nz/cdb/"/>
      <add key="CouchDBValidOnly" value="couchdb"/>
      <add key="CouchDBAll" value="alldb"/>
      
      <!-- how often to save tweets *(dump mem to local storage) -->
      <add key="PersistenceService_PollingInterval" value="5000"/>

      <!-- whether the current deployment is to production; set this to false in dev -->
      <add key="IsProductionDeployment" value="false"/>
      <!-- whether the current deployment should halt on a background exceptions when in dev  -->
      <add key="HaltOnBackgroundExceptionsInDev" value="true"/>
      <!-- don't bother doing all that clever indexing stuff - leave that to the couchdb view -->
      <add key="DisableIndex" value="true"/>
  </appSettings>
</configuration>