<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <targets>
        <target name="file" xsi:type="File" fileName="${basedir}/nlog/${shortdate}/${logger}.log" />
        <target name="console"  xsi:type="Console" />
     
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*IncomingMessageProcessor" minlevel="Warn" writeTo="console" />
        <logger name="*TwitterRawMessageProvider" minlevel="Info" writeTo="console" /> 
        <logger name="*PushToCouchService" minlevel="Info" writeTo="console" />
        <logger name="*PushToCouchDBReceiver" minlevel="Info" writeTo="console" />
    </rules>
</nlog>
