OAuthExample*
*resharper*
obj/
tmp/
bin/*Test*
bin/*.pdb
*.user
TwitterFirehose*
*.psess
*.suo
_ReSharper*
*.db
Offr.Tests/bin
OffrLib/bin
nlog*
*.vshost.exe*
*.vshost.exe
twademe/nlog*
twademe/Bin/x86/Debug/*
twademe/Bin/x86/Release/*
twademe/Bin/*
twademe/data/*
*vsp
lib/Newtonsoft.Json/Src/bin/**
lib/lokad**
lib/NCouch**
