<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <!-- whether the current deployment is to production; set this to false in dev -->
      <add key="IsProductionDeployment" value="false"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
