ul.picker li {
	display:inline;
	list-style:none;
}

ul.choice li 
{
	clear:left;
	list-style:none;
	padding:10px;
	margin-top: 10px;
}

#post_offer {
	display:block;
}

#post_offer .example {
	font-style:italic;
	font-size:0.8em;
}

#post_offer .between {
	margin: 10px 0 2px 0;
	font-weight:700;
}

#post_offer .input_box {
	padding-top:2em;
}

#post_offer .label {
	font-size:0.8em;
	display:block;
}

#post_offer input {
	margin: 0 0 2px 0;
	font-weight:normal;
	width:300px;
	display:block;
	clear:left;
}

#post_offer input#rate  {
	margin: 0px 0 2px 0;
}


#post_offer li {
	padding:0px;
	margin:0px;
	display:inline;
}
