ul.picker li {
	display:inline;
	list-style:none;
}

ul.choice li 
{
	clear:left;
	list-style:none;
	padding:10px;
	margin-top: 10px;
}

.form {
	display:block;
}

.form .example {
	font-style:italic;
	font-size:0.8em;
}

.form .between {
	margin: 10px 0 2px 0;
	font-weight:700;
}

.form .input_box {
	padding-top:2em;
}

.form .label {
	font-size:0.8em;
	display:block;
}

.form input {
	margin: 0 0 2px 0;
	font-weight:normal;
	width:300px;
	display:block;
	clear:left;
}

.forminput#rate  {
	margin: 0px 0 2px 0;
}


.form li {
	padding:0px;
	margin:0px;
	display:inline;
}

#map_canvas 
{
	display:block;
	width: 200px;
	height: 200px;
}

.location input
{
    width: 400px;
}
li.on
{
    background: #CCC;
}


#suggested_tags li,
#selected_tags li
{
	display:inline;
}

