/* 
Title:     Fixes for IE/win
*/


/* self-clearing floats
----------------------------------------------------- */

/* trigger hasLayout and target ie5+6/win only */
* html #header,
* html #header_bar,
* html #footer,
* html #content,
* html #main,
* html #main .gutter,
* html #main-nav,
* html #top,
* html #top .gutter,
* html #top-sec,
* html #secondary-nav,
* html #main-top,
* html #main-top .gutter,
* html fieldset,
* html .nav,
* html .box,
* html .tag-chart,
* html .tag-chart li,
* html .tag-chart li a,
* html .tags_sort,
* html .notebar,
* html .feed-unit,
* html .wrap,
* html .sort,
* html .thumbwall,
* html .thumbwall-friends,
* html .item,
* html .ad,
* html #fiche-social .gutter,
* html #twin,
* html .list li,
* html #fiche-top-tags p,
* html #fiche-top-tags span,
* html .fiche-univers-gutter,
* html #fiche-univers dd,
* html #toolbar-top,
* html #toolbar-top .gutter,
* html #toolbar-top ul,
* html h3,
* html .liste-univers,
* html #disambiguations dd,
* html #biblio-lists,
* html #library-balloon,
* html fieldset ol,
* html #edit-menu,
* html .container-hall,
* html .discussion,
* html #library-sort,
* html #sorted_tags,
* html #login-screen label,
* html .edit fieldset,
* html #content-edit,
* html .datas,
* html #home-teaser .gutter,
* html #home-teaser fieldset div,
* html #home-bottom .gutter {
	height: 1%;
}
/* trigger hasLayout and target ie7/win only */
*:first-child+html #header,
*:first-child+html #footer,
*:first-child+html #content,
*:first-child+html #main,
*:first-child+html #main .gutter,
*:first-child+html #main-nav,
*:first-child+html #top,
*:first-child+html #top .gutter,
*:first-child+html #top-sec,
*:first-child+html #secondary-nav,
*:first-child+html #main-top,
*:first-child+html #main-top .gutter,
*:first-child+html fieldset,
*:first-child+html .nav,
*:first-child+html .box,
*:first-child+html .tag-chart,
*:first-child+html .tag-chart li,
*:first-child+html .tag-chart li a,
*:first-child+html .tags_sort,
*:first-child+html .notebar,
*:first-child+html .feed-unit,
*:first-child+html .wrap,
*:first-child+html .sort,
*:first-child+html .thumbwall,
*:first-child+html .thumbwall-friends,
*:first-child+html .item,
*:first-child+html .ad,
*:first-child+html #fiche-social .gutter,
*:first-child+html #twin,
*:first-child+html .list li,
*:first-child+html #fiche-top-tags p,
*:first-child+html #fiche-top-tags span,
*:first-child+html .fiche-univers-gutter,
*:first-child+html #fiche-univers dd,
*:first-child+html #toolbar-top,
*:first-child+html #toolbar-top .gutter,
*:first-child+html #toolbar-top ul,
*:first-child+html h3,
*:first-child+html .liste-univers,
*:first-child+html #disambiguations dd,
*:first-child+html #biblio-lists,
*:first-child+html #library-balloon,
*:first-child+html fieldset ol,
*:first-child+html #edit-menu,
*:first-child+html .container-hall,
*:first-child+html .discussion,
*:first-child+html #library-sort,
*:first-child+html #sorted_tags,
*:first-child+html #login-screen label,
*:first-child+html .edit fieldset,
*:first-child+html #content-edit,
*:first-child+html .datas,
*:first-child+html #home-teaser .gutter,
*:first-child+html #home-teaser fieldset div,
*:first-child+html #home-bottom .gutter {
	min-height: 1px;
}
