/** MISC **/

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

.info 
{
	margin-top:0px;
	font-weight:normal;
	font-style:italic;
	font-size:8pt;
}

#results 
{
	float:left;
}

#results .left_col 
{
	float:left;
	width:70%;
}

#results .right_col 
{
	float:right;
	width:30%;
}


#results .right_col H3,
#results .right_col H4
{
	margin-bottom:0.5em;
}
#offer_map 
{
	width:450px;
	height:450px;
}
a.tag 
{
	display:inline-block;
}
/** OFFERS **/

.offers 
{
	border-bottom:1px solid #C7CCC5;
	min-height:85px;
	padding-bottom:5px;
	padding-top:1px;
	position:relative;
}

.offers a.avatar {
	position:absolute;
	left:0px;
	top:15px;
	width:64px;
	height:59px;
	background:transparent url(frame.png) no-repeat scroll 0 0px;
}

.offers a.avatar img {
	margin-top:6px;
	margin-left:6px;
	width:48px;
	height:48px;
	border:0px;
}

.offers a.username {
	position:absolute;
	left:3px;
	top:75px;
	width:65px;
	overflow:hidden;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.offers a.username:hover 
{
	text-decoration:underline;
}
	
.offers p.msg 
{
	margin-left:75px;
	margin-top:20px;
	margin-right:10px;
}

.offers p.msg .text {
	color:#333F31;
	font-family:Georgia,'Times New Roman',Times,serif;
	font-size:13px;
	line-height:18px;
}

.offers p.msg .tags 
{
	color:#333F31;
	font-family:Helvetica, Arial;
	font-size:11px;
	line-height:18px;
}

.offers .tag a
{
	text-decoration:none;
}

.offers .tag a:hover
{
	text-decoration:underline;
}

.offers p.msg a.more_info_link {
	float:right;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.offers a.user 
{
	color:#161B1F;
	font-family:'Trebuchet MS',Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-right:2px;
	text-decoration:none;
}

.offers a:hover 
{
	text-decoration:underline;
}

.offers .meta 
{
	right:0px;
	top:6px;
	width:100px;
	position:absolute;
}

.offers .meta a.when 
{
	display:inline-box;
	font-size:9px;
	font-weight:bold;
	float:right;
	text-decoration:none;
	color:#777;
}

span.on
{
	background: #CCC;
}

		
/* Form related styling (in addition to the jquery theme stuff */
						 
#post_your_own_form 
{
	/*display:none; */
	background-color:#fff;
	width:450px;
	padding:15px;
	text-align:left;
	border:2px solid #333;
	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	
}

.ui-datepicker {
	/* when in pop up need to get this in front of the popup */
	z-index:9999 !important;
}

#post_your_own_form #map_canvas {
	/* when in pop up need to get this in front of the popup */
	z-index:9999 !important;
}

#post_your_own_form div
{
	margin-bottom:10px;
}

#post_your_own_form label
{
	display:block;
}

#post_your_own_form textarea,
#post_your_own_form div.location input,
#post_your_own_form div.thumbnail input
{
	width:430px;
}

#post_your_own_form div.offerPart,
#post_your_own_form div.location,
#post_your_own_form div.currency,
#post_your_own_form div.tags,
#post_your_own_form div.thumbnail
{
	margin-bottom:20px;
}

#post_your_own_form div.tags,
#post_your_own_form div.thumbnail
{
	border-top:#EEE solid 1px;
}

#post_your_own_form div.tags h4,
#post_your_own_form div.thumbnail h4
{
	font-weight:bold;
	color:#CCC;
	font-size:0.8em;
	padding:0px;
	margin:0px;
}

#post_your_own_form div.tags input 
{
	width:350px;
}


#post_your_own_form  li.on 
{
	background:#CCC;
}

#post_your_own_form #tags,
#post_your_own_form #picture
{
	width:400px;
}

#post_your_own_form #suggested_tags li,
#post_your_own_form #selected_tags li
{
	display:inline;
}

#post_your_own_form #map_canvas {
	width:430px;
	height:180px;
}
	
.fg-button
{
	outline: 0;
	margin: 0 0 0 0;
	padding: 0 2px 0 2px;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}

a.fg-button:hover
{
	text-decoration:underline;
}

.fg-button .ui-icon
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

/* remove extra button width in IE */
button.fg-button
{
	width: auto;
	overflow: visible;
}

.fg-button-icon-left
{
	padding-left: 20px;
}

.fg-button-icon-left .ui-icon
{
	right: auto;
	left: 0;
	margin-left: 0;
}

.ui-corner-tag {
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
}
.status 
{
	background-image: url(Cross.png);
	padding-left:20px; 
	background-repeat:no-repeat;	
}
.defaultText
{
	width: 300px;
}
.defaultTextActive
{
	color: #a1a1a1;
	font-style: italic;
}
/* simple css-based tooltip */ 
div.tooltip { 
    background-color:#000; 
    border:1px solid #fff; 
    padding:10px 15px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:12px; 
 
    /* outline radius for mozilla/firefox only */ 
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}
#typed_tag 
{
	width:100px;
}

#suggested_tags_widget div.fg-buttonset 
{
	display:inline;
}