@charset "utf-8";

/* misc */
/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* display of form */
#results_by_date 
{
	/*actually not entirely necessary*/
	width:549px;
}

#results_by_date .offer 
{
	border-bottom:1px solid #C7CCC5;
	min-height:78px;
	padding-bottom:5px;
	padding-top:18px;
	position:relative;
}

#results_by_date .offer a.avatar {
	position:absolute;
	left:0px;
	top:15px;
	width:64px;
	height:59px;
	background:transparent url(frame.png) no-repeat scroll 0 0px;
}

#results_by_date .offer a.avatar img {
	margin-top:6px;
	margin-left:6px;
	width:48px;
	height:48px;
	border:0px;
}

#results_by_date .offer a.username {
	position:absolute;
	left:3px;
	top:75px;
	width:65px;
	overflow:hidden;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

#results_by_date .offer a.username:hover 
{
	text-decoration:underline;
}
	
#results_by_date .offer p.msg 
{
	margin-left:75px;
	margin-right:80px;
}

#results_by_date .offer p.msg .text {
	color:#333F31;
	font-family:Georgia,'Times New Roman',Times,serif;
	font-size:13px;
	line-height:18px;
}

#results_by_date .offer p.msg .tags 
{
	color:#333F31;
	font-family:Helvetica, Arial;
	font-size:11px;
	line-height:18px;
}

#results_by_date .offer .tag a
{
	text-decoration:none;
}

#results_by_date .offer .tag a:hover
{
	text-decoration:underline;
}

#results_by_date .offer p.msg a.more_info_link {
	float:right;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

#results_by_date .offer a.user 
{
	color:#161B1F;
	font-family:'Trebuchet MS',Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-right:2px;
	text-decoration:none;
}

#results_by_date .offer a:hover 
{
	text-decoration:underline;
}

#results_by_date .offer .meta 
{
	left:440px;
	top:0px;
	width:100px;
	position:absolute;
}

#results_by_date .offer .meta a.when 
{
	display:inline-box;
	font-size:9px;
	font-weight:bold;
	float:right;
	text-decoration:none;
	color:#777;
}

span.on
{
	background: #CCC;
}

		
/* Form related styling (in addition to the jquery theme stuff */
						 
#post_your_own_form 
{
	/*display:none;*/
	background-color:#fff;
	width:450px;
	padding:15px;
	text-align:left;
	border:2px solid #333;
	font-size:0.9em;
	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

#post_your_own_form div
{
	margin-bottom:10px;
}

#post_your_own_form label
{
	margin-top:20px;
	clear:right;
}


#post_your_own_form  li.on 
{
	background:#CCC;
}
#post_your_own_form #tags,
#post_your_own_form #picture,

{
	width:400px;
}

#post_your_own_form #suggested_tags li,
#post_your_own_form #selected_tags li
{
	display:inline;
}
						 